<!-- Default frames for Kinect/PSDK5 devices
     Places depth and RGB cameras in the same plane with 2.5cm baseline.
     Calibration may improve results, but these defaults are reasonably accurate.
-->
<launch>

	<node pkg="tf" type="static_transform_publisher" name="tf_publisher"
        args="0 -0.02  0 0 0 0  /world1 /world2 30" />  

    <!--<node pkg="test_tf" type="test_tf" name="test_tf" output="screen" required="true">
    </node>-->

	<node pkg="test_tf" type="test_tf_py.py" name="test_tf_py" output="screen" required="true">
	</node>

</launch>

<!-- TODO Could instead store these in camera_pose_calibration format for consistency
     with user calibrations. Blocked on camera_pose_calibration having sane dependencies. -->
